<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Conditional Statement In Thymeleaf</title>
</head>
<body>

	<h1>Conditional Statement In Thymeleaf</h1>
	<!-- elvis iterator -->
	<h1>Use is <span th:style="${isActive} ? 'color:green' : 'color:red'"
					 th:text="${isActive} ? 'Active' : 'Not Active'" ></span> </h1>
					 
	<!-- if-unless iterator	 -->	 
	<h1 th:if="${gender}=='M'" >Male</h1>
	<h1 th:unless="${gender}=='M'" >Female</h1>
	
	<!-- switch iterator -->
	<div th:switch="${#lists.size(myList)}" >
		<h1 th:case="'0'">List contain zero elememt</h1>
		<h1 th:case="'1'">List contain one elememt</h1>
		<h1 th:case="*">List contain more than one elememt</h1>
	</div>
	
</body>
</html>