<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Example</title>
<link rel="stylesheet" href=" " th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="container">
		<h1>Adding CSS, JavaScript And Images In Thymeleaf</h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
		soluta id velit. Quo ad dolor saepe ut natus voluptatum error
		aspernatur quae sint reprehenderit explicabo commodi itaque magni
		facere libero ipsam odio unde necessitatibus dolore hic. Et doloremque
		necessitatibus magnam eius reprehenderit adipisci architecto officiis
		eos facilis temporibus ducimus provident!</p>
		
		<img src="" class="profile" th:src="@{/image/profile.jpeg}" alt="" />
	</div>
	
	<script src=" " th:src="@{/js/myscript.js}"></script>
</body>
</html>