<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer Template</title>
</head>
<body>
	<footer id="fragmentTag" th:fragment="footer1(title, subtitle)">
		<div class="container" >
			<h1 th:text="${title}" ></h1>
			<h2 th:text="${subtitle}" ></h2>
			<h1>About Java Programming </h1>
			<h2>I am Pranav Mahajan</h2>
			<h1>Learning now thymeleaf</h1>	
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt alias adipisci aliquam fugiat officiis nesciunt dolore sint doloribus porro quidem temporibus sequi voluptatem itaque voluptate eos delectus suscipit harum eaque ut iure quisquam velit illum quis consequuntur ab deserunt atque ipsum molestiae labore odio error accusamus possimus aperiam ea animi?</p>
	
		</div>
	</footer>
</body>
</html>