<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Login</title>
</head>
<body>
	<section>
		<h1>Login Page</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Recusandae fugit libero alias adipisci magni neque reiciendis
			eligendi ipsum eos commodi quos debitis mollitia maiores officiis
			blanditiis repellat reprehenderit error similique suscipit obcaecati
			ex aliquam temporibus fugiat natus ipsa. Excepturi optio deserunt
			accusantium possimus dolorum placeat consequatur libero error fugiat
			repellendus.</p>
	</section>
</body>
</html>